:root {
  --primary-color: #c21010;
  --secondary-color: #fffde3;
}

.home {
  background-image: linear-gradient(rgba(206, 18, 18, 0.5), rgba(0, 0, 0, 0.6)),
    url("../images/taylor-swift-picture.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 200px;
}

.midnights {
  background-image: linear-gradient(rgba(95, 10, 135, 0.5), rgba(0, 0, 0, 0.6)),
    url("../images/midnights-header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 200px;
}

.evermore {
  background-image: linear-gradient(rgba(145, 91, 74, 0.5), rgba(0, 0, 0, 0.6)),
    url("../images/evermore-album.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 200px;
}

.folklore {
  background-image: linear-gradient(
      rgba(219, 216, 227, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/folklore-album.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 200px;
}

.lover {
  background-image: linear-gradient(
      rgba(251, 204, 235, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/lover-album.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 200px;
}

.reputation {
  background-image: linear-gradient(
      rgba(187, 187, 187, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/reputation-album.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 200px;
}

.album-1989 {
  background-image: linear-gradient(
      rgba(251, 250, 205, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/1989-album.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 200px;
}

.album-red {
  background-image: linear-gradient(rgba(206, 18, 18, 0.5), rgba(0, 0, 0, 0.6)),
    url("../images/red-album.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 200px;
}

.speak-now {
  background-image: linear-gradient(rgba(95, 10, 135, 0.5), rgba(0, 0, 0, 0.6)),
    url("../images/speak-now-album.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 200px;
}

.fearless {
  background-image: linear-gradient(
      rgba(251, 250, 205, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/fearless-album.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 200px;
}

.taylor-swift {
  background-image: linear-gradient(rgba(86, 255, 248, 0.5), rgba(0, 0, 0, 0.6)),
    url("../images/taylor-swift-album.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 200px;
}

.playlist {
  display: block;
  margin: 50px auto;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 10px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  color: #272044;
  text-decoration: none;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
}

header a:hover {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: rgba(206, 18, 18, 0.5);
  color: white;
  text-decoration: none;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.4;
  text-transform: uppercase;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

.midnights-section {
  background: linear-gradient(
    112.5deg,
    rgba(95, 10, 135) 11.4%,
    rgb(164, 80, 139) 60.2%
  );
}

.evermore-section {
  background: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

.folklore-section {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.lover-section {
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
}
.reputation-section {
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
.album-1989-section {
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.speak-now-section {
  background: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
}
.fearless-section {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 0%,
    rgb(255, 232, 182) 90%
  );
}
.taylor-swift-section {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(91, 173, 254, 0.46) 0%,
    rgba(91, 224, 254, 0.46) 47.2%,
    rgba(170, 254, 235, 0.43) 90%
  );
}

.music,
.awards {
  background: radial-gradient(
    circle at 10.6% 22.1%,
    rgb(206, 18, 18) 0%,
    rgb(122, 21, 21) 100.7%
  );
}

.music h2 {
  color: white;
}

.music p {
  color: white;
}

.awards h2 {
  color: white;
}

.awards p {
  color: white;
}

.main-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: block;
  margin: 0 auto;
}
.main-btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.main-btn-alt {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: block;
  margin: 0 auto;
}
.main-btn-alt:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.album {
  display: block;
  width: 200px;
  margin: 15px auto;
}

.album:hover {
  opacity: 0.7;
  transform: scale(1.15);
  filter: grayscale(100%);
}

.img-responsive {
  display: block;
  width: 100%;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-1-column {
  grid-template-columns: 1fr;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
